@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


.loading-indicator {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}